{% extends 'main/base.html' %}

{% block title %} О нас {% endblock %}

{% block content %}
        <h3>Вот несколько советов, которые могут помочь в этом процессе: </h3>
        <p>   1. Выберите язык программирования, который хотите изучить. Начинайте с простых языков, таких как Python, JavaScript или Ruby.</p>
        <p>   2. Изучайте «hello world». «Hello world» - это самая простая программа, которую можно написать и которая выводит на экран фразу "Hello, world!".</p>
        <p>    3. Ищите книги, статьи и видеоуроки. Существует множество ресурсов, которые могут помочь в обучении программированию.</p>
        <p>   4. Задавайте вопросы. Если у Вас есть вопросы, не стесняйтесь спрашивать у других программистов.</p>
        <p>   5. Участвуйте в соревнованиях по программированию.</p>
        <p>   Как Вы видите, обучение программированию - это долгосрочный процесс, на который уходит много времени и усилий. Но всегда стоит попробовать и начать искать информацию о том, как учиться программированию.</p>
{% endblock %}