{% extends 'main/base.html' %}

{% block title %} Главная страница {% endblock %}

{% block context %}
        <h3>Пять вдохновляющих цитат по программированию:</h3>
        <p>1. "Опытный программист - это тот, кто каждый раз находит новый способ написания программы, который чуть-чуть лучше предыдущего" - Марк Твен.</p>
        <p>2. "Лучший способ предсказать будущее - создать его" - Алан Кей.</p>
        <p>3. "Программирование - это не о том, чтобы мыслили машины, а о том, чтобы мыслили люди" - Хал Абельсон.</p>
        <p>4. "Ошибки - это не провал, а возможность учиться" - Джеймс Бач.</p>
        <p>5. "Программирование - это искусство создания ясности из хаоса" - Брайан Керниган.</p>
{% endblock %}
